.out , .in{
    background-color: #CA1515;
    padding: 7px;
    margin: 10px;
    border-radius: 0px 10px 17px 0px ;
    color: bisque;
}
.in{
    background-color: blue;
}
.product-header{
    cursor: pointer;
    font-size: 20px;
}
.product-header:hover{
    color: #CA1515;
}